<main class="Main">
	<div class="Main-content u-inner">

		<section class="Section Section--contributions">
			<div class="Section-title">
				<h2>Contributions</h2>
				<small>Hacemos cositas</small>
			</div>

			<ul class="Section-list">
				{{#each contributions}}
					<li class="Section-list-item">
						<a href="{{this.link}}" target="blank">
							{{this.name}}
						</a>
						<small>{{this.author}}</small>
					</li>
				{{/each}}
			</ul>
		</section>
		
		<section class="Section Section--workshops">
			<div class="Section-title">
				<h2>Workshops</h2>
				<small>A veces vamos a presentaciones</small>
			</div>

			<ul class="Section-list">
				{{#each workshops}}
				<li class="Section-list-item">
					<a href="{{this.link}}" target="blank">{{this.name}}</a>
				</li>
				{{/each}}
			</ul>
		</section>

		<section class="Section Section--experiments">
			<div class="Section-title">
				<h2>Experiments</h2>
				<small>A veces vamos a presentaciones</small>
			</div>

			<ul class="Section-list">
				{{#each experiments}}
				<li class="Section-list-item">
					<a href="{{this.link}}" target="blank">{{this.name}}</a>
				</li>
				{{/each}}
			</ul>
		</section>

		<section class="Section Section--team">
			<div class="Section-title">
				<h2>Team</h2>
			</div>

			<div class="Team">
				{{#each team}}

					<div class="Team-item" data-github="{{this.github-user}}">
						<div class="Team-avatar">
							<div class="Team-avatar-image" style="background-image: url(images/{{this.image}});"></div>

							<a class="Team-avatar-alt" href="http://github.com/{{this.github-user}}" target="blank">
								<i class="fa fa-github"></i>
							</a>
						</div>
						<div class="Team-item-name">
							<span>{{this.name}}</span>
							<span></span>
						</div>
					</div>

				{{/each}}

				<div class="Team-item">
					<div class="Team-item-image" style="background-image: url(images/user.jpg);"></div>
					<div class="Team-item-name">@name</div>
				</div>
			</div>
		</section>

	</div>
</main>
